.header-bg {
  background-color: rgba(0, 0, 0, 0.6);
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-right: 40px;
}

.header-menu li a {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 20px;
}
.header-logo {
  padding: 10px 5px;
  width: 180px;
  display: block;
  color: #ffe03d;
}
#menu-mobile {
  display: none;
}

@media (max-width: 800px) {
  .header-bg {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .header-menu {
    gap: 30px;
    margin-right: 20px;
  }
  .header-menu li {
    border: 1px solid rgb(30, 30, 30);
    background: rgb(30, 30, 30);
    border-radius: 4px;
  }
}
@media (max-width: 700px) {
  .header-bg {
    background-color: rgb(30, 30, 30);
  }
  .header-menu {
    /*  display: none;*/
    display: none;
    position: absolute;
    width: 100%;
    top: 90px;
    width: 220px;
    right: 0px;
    background: rgb(30, 30, 30);
    z-index: 1000;
    padding-bottom: 0.6rem;
    border-radius: 5px;
    margin-right: 0px;
  }
  .header-menu li {
    border-radius: 0px;
  }
  #nav.active .header-menu {
    display: block;
  }
  .header-menu li a {
    display: block;
    padding: 1rem 1rem;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(66, 66, 66);
  }
  #menu-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    gap: 0.5rem;
  }
  #hamburguer {
    display: block;
    width: 25px;
    border-top: 2px solid;
    transition: 0.4s;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
  }
  #nav.active #hamburguer {
    transform: rotate(270deg);
  }
}
